* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #02010a;
  font-family: 'Dancing Script', cursive;
}

img {
  box-shadow: 2px 2px #02010a;
}

.contenido {
  max-width: 900px;
  margin: auto;
  animation: slidein 1s;
}

/* HEADER */

header {
  background-color: #5b7989;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 10px 10px 0px 0px;
  padding: 40px 20px;
  box-sizing: border-box;
}

.logo {
  flex: 0 0 50%;
  max-width: 50%;
}

.logo h1 {
  text-shadow: 2px 2px #02010a;
  color: #fff;
  line-height: 40px;
}

.menu a {
  color: #fff;
  display: inline-block;
  line-height: 40px;
  font-size: 18px;
}

.menu a:not(:last-child) {
  margin-right: 30px;
}

.menu a:hover {
  text-decoration: none;
}

.active {
  text-decoration: none;
}

/* SLIDER */

.slider {
  text-align: center;
  padding: 50px 0;
  background-color: #82c3a6;
}

.slider img {
  width: 80%;
  height: auto;
}

/* FOTOS SECUNDARIAS */

.content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px 0;
  background-color: #d5c75f;
  border: 1px solid;
}

.content .secundaria {
  flex: 0 0 50%;
  max-width: 50%;
  text-align: center;
}

.content .secundaria img {
  width: 90%;
  height: auto;
}

.paisajes img {
  transition: all .5s;
}

.paisajes img:hover {
  transform: rotate(10deg);
  box-shadow: 2px 2px 2px #82c3a6;
}

.retratos img {
  transition: all .5s;
}

.retratos img:hover {
  transform: translate(20px, -5px);
  box-shadow: 2px 2px 2px #82c3a6;
}

/* GALERIA */

.galeria {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 50px;
  background-color: #d5c75f;
  border: 1px solid;
}

.galeria div {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  text-align: center;
  margin-bottom: 50px;
}

.galeria div img {
  width: 90%;
  height: auto;
}

.galeria div:first-child img {
  filter: blur(10px);
  -webkit-filter: blur(10px);
}

.galeria div:nth-child(even) {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.galeria div:nth-child(3) {
  filter: sepia(90%);
  -webkit-filter: sepia(90%);
}

/* FOOTER */

footer {
  border-radius: 0px 0px 10px 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #C6d5c5;
  padding: 50px;
}

footer div {
  flex: 0 0 25%;
  max-width: 25%;
}

footer h2 {
  margin-bottom: 20px;
}

@keyframes slidein {
  0% {
    margin-top: 150%;
  }
  60% {
    margin-top: -5%;
  }
  100% {
    margin-top: 0;
  }
}

@media (max-width: 900px) {
  .logo, .menu{
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }
  .content .secundaria {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .content .secundaria:not(:last-child) {
    margin-bottom: 50px;
  }
  footer div {
    flex: 0 0 100%;
    max-width: 100%;
  }
  footer div:not(:last-child) {
    margin-bottom: 50px;
  }
  .galeria div {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
